---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'About Me';
const pageDescription = 'Learn more about my background and approach to software engineering.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    I'm Linus Thoreson, a 14-year-old who's been vibe coding for almost a year. I'm currently working on getting a better understanding on how modern web applications work.
  </p>
  <p>
    I don't really know how to right code in a normal way, but I love playing around with tools like Cursor, Windscribe, and Claude to build web apps without writing a single line of code.
    I have built dozens of applications, using many frontend frameworks, like Svelte, Astro, Nuxt, and React. I also use various BaaS services like Supabase and Convex. I have also built apps using Flask and Django.
  </p>
  <p>
    I also often tinker with my own self-hosted infrastructure, using tools like Proxmox, TrueNAS, Tailscale, Docker, and Cloudflare. 
    It is amazing how many awesome, security-focused, free tools there are available to self-host.
  </p>
  <p>
    When I am not vibe coding, I tinker with computer hardware, watch <a href="https://youtube.com/linustechtips">Linus Tech Tips</a>, and play video games.
    Hit me up if you want to vibe code together or just chat about cool tech stuff!
  </p>

  <GlowLineSeparator />

</Layout>
